{% extends 'core/base.html' %}
{% block title %}{{ titulo }} - Syslicit{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ titulo }}</h1>
</div>
<div class="card shadow-sm">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <div class="d-flex justify-content-end">
                <a href="{% url 'responsavel_list' %}" class="btn btn-secondary me-2">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}